* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex input {
  margin: 0;
}

label[for="status"] {
  margin-right: 10px;
}

input {
  display: block;
  margin-bottom: 12px;
}
